@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

input {
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  color: black;
  font-size: small;
  font-weight: normal;
  outline: none;
}


